nav.theme-dark,
nav.theme-dark ul.links-wrapper.active {
    background-color: var(--indigo-400)
}

nav.theme-dark,
nav.theme-dark ul.links-wrapper.active {
    background-color: var(--indigo-900)
}

nav.theme-dark a#btn-cta:link,
nav.theme-dark a#btn-cta:visited {
    color: var(--orange-500)
}

nav.theme-dark a#btn-cta:link,
nav.theme-dark a#btn-cta:visited {
    border-color: var(--orange-500)
}

nav.theme-dark a#btn-cta:focus,
nav.theme-dark a#btn-cta:hover,
nav.theme-dark a#btn-cta:active {
    background-color: var(--indigo-800)
}

nav.theme-dark a#btn-cta:focus,
nav.theme-dark a#btn-cta:hover,
nav.theme-dark a#btn-cta:active {
    color: var(--orange-400)
}

nav.theme-dark a#btn-cta:focus,
nav.theme-dark a#btn-cta:hover,
nav.theme-dark a#btn-cta:active {
    border-color: var(--orange-400)
}

nav.theme-dark ul.links-wrapper li a:focus,
nav.theme-dark ul.links-wrapper li a:hover,
nav.theme-dark ul.links-wrapper li a:active {
    color: var(--orange-400)
}

nav.theme-dark.menu-sticky.menu-on-scroll,
nav.theme-dark.menu-sticky.menu-on-scroll ul.links-wrapper.active {
    background-color: var(--slate-700)
}

nav.theme-dark .nav-toggle .bar-1,
nav.theme-dark .nav-toggle .bar-2,
nav.theme-dark .nav-toggle .bar-3 {
    background-color: var(--trans-000)
}

nav.theme-dark .nav-toggle {
    background-color: var(--trans-000)
}

nav.theme-dark .nav-toggle .bar-1,
nav.theme-dark .nav-toggle .bar-2,
nav.theme-dark .nav-toggle .bar-3 {
    background-color: var(--orange-500)
}

@media (max-width: 767px) {
    nav.theme-dark ul.links-wrapper.active {
        background-color: var(--indigo-900)
    }
}

header.theme-light {
    background-color: var(--indigo-900)
}

nav.theme-dark,
nav.theme-dark ul.links-wrapper.active {
    background-color: var(--trans-000)
}

nav.theme-dark,
nav.theme-dark ul.links-wrapper.active {
    background-color: var(--indigo-900)
}

nav.theme-dark a#placeholder-logo {
    text-decoration: none;
}

header.theme-light h1 {
    color: var(--gray-300);
    font-family: 'Archivo Black', sans-serif;
}

header.theme-light h1 span.highlight,
header.theme-light h2 span.highlight {
    color: var(--orange-500)
}

header.theme-light h2 {
    color: var(--gray-400)
}

header.theme-light .container-btn a.btn:nth-child(2):link,
header.theme-light .container-btn a.btn:nth-child(2):visited {
    color: var(--gray-300)
}

header.theme-light .container-btn a.btn:nth-child(2):focus,
header.theme-light .container-btn a.btn:nth-child(2):hover,
header.theme-light .container-btn a.btn:nth-child(2):active {
    background-color: var(--trans-000)
}

header.theme-light .container-btn a.btn:nth-child(2):link,
header.theme-light .container-btn a.btn:nth-child(2):visited {
    border-color: var(--orange-500)
}

header.theme-light .container-btn a.btn:nth-child(2):focus,
header.theme-light .container-btn a.btn:nth-child(2):hover,
header.theme-light .container-btn a.btn:nth-child(2):active {
    color: var(--orange-500)
}

header.theme-light .container-btn a.btn:nth-child(2):focus,
header.theme-light .container-btn a.btn:nth-child(2):hover,
header.theme-light .container-btn a.btn:nth-child(2):active {
    border-color: var(--trans-000)
}

header.theme-light .container-btn a.btn:nth-child(1):link,
header.theme-light .container-btn a.btn:nth-child(1):visited {
    background-color: var(--orange-500)
}

header.theme-light .container-btn a.btn:nth-child(1):link,
header.theme-light .container-btn a.btn:nth-child(1):visited {
    border-color: var(--trans-000)
}

.section-selector-1 {
    background-color: var(--slate-050)
}

.section-selector-1 div[class^='col-'] a[class^='col-']:link,
.section-selector-1 div[class^='col-'] a[class^='col-']:visited {
    text-decoration-color: var(--white-000)
}

.section-selector-1 div[class^='col-'] a[class^='col-']:link,
.section-selector-1 div[class^='col-'] a[class^='col-']:visited {
    text-decoration-color: var(--slate-050)
}

.section-selector-1 div[class^='col-'] a[class^='col-']:focus,
.section-selector-1 div[class^='col-'] a[class^='col-']:hover,
.section-selector-1 div[class^='col-'] a[class^='col-']:active {
    text-decoration-color: var(--orange-400)
}

.section-selector-1 div[class^='col-'] a[class^='col-']:focus,
.section-selector-1 div[class^='col-'] a[class^='col-']:hover,
.section-selector-1 div[class^='col-'] a[class^='col-']:active {
    text-decoration-color: var(--orange-600)
}

.section-selector-1 div[class^='col-'] a[class^='col-']:focus,
.section-selector-1 div[class^='col-'] a[class^='col-']:hover,
.section-selector-1 div[class^='col-'] a[class^='col-']:active {
    text-decoration-color: var(--orange-500)
}

.theme-light.section-selector-1 div[class^='flex-cols-'] div[class^='col-'] {
    border-color: var(--slate-100)
}

.theme-light.section-selector-1 div[class^='flex-cols-'] div[class^='col-'] {
    border-color: var(--slate-050)
}

.theme-light.section-selector-1 div[class^='flex-cols-'] div[class^='col-'] {
    border-color: var(--slate-100)
}

.section-selector-1 .flex-cols-3 .col-3 a.col-3-h3:link,
.section-selector-1 .flex-cols-3 .col-3 a.col-3-h3:visited {
    color: var(--slate-900)
}

.section-selector-1 .flex-cols-3 .col-3 a.col-3-h3:focus,
.section-selector-1 .flex-cols-3 .col-3 a.col-3-h3:hover,
.section-selector-1 .flex-cols-3 .col-3 a.col-3-h3:active {
    color: var(--orange-600)
}

.section-selector-1 .flex-cols-3 .col-3 a.col-3-h3:focus,
.section-selector-1 .flex-cols-3 .col-3 a.col-3-h3:hover,
.section-selector-1 .flex-cols-3 .col-3 a.col-3-h3:active {
    color: var(--orange-500)
}

.section-selector-1 .badge {
    background-color: var(--orange-400)
}

.section-selector-2 div[class^='col-'] a[class^='col-']:link,
.section-selector-2 div[class^='col-'] a[class^='col-']:visited {
    text-decoration-color: var(--white-000)
}

.section-selector-2 div[class^='col-'] a[class^='col-']:link,
.section-selector-2 div[class^='col-'] a[class^='col-']:visited {
    text-decoration-color: var(--slate-050)
}

.section-selector-2 div[class^='col-'] a[class^='col-']:focus,
.section-selector-2 div[class^='col-'] a[class^='col-']:hover,
.section-selector-2 div[class^='col-'] a[class^='col-']:active {
    text-decoration-color: var(--orange-400)
}

.section-selector-2 div[class^='col-'] a[class^='col-']:focus,
.section-selector-2 div[class^='col-'] a[class^='col-']:hover,
.section-selector-2 div[class^='col-'] a[class^='col-']:active {
    text-decoration-color: var(--orange-600)
}

.section-selector-2 div[class^='col-'] a[class^='col-']:focus,
.section-selector-2 div[class^='col-'] a[class^='col-']:hover,
.section-selector-2 div[class^='col-'] a[class^='col-']:active {
    text-decoration-color: var(--orange-500)
}

.theme-light.section-selector-2 div[class^='flex-cols-'] div[class^='col-'] {
    border-color: var(--slate-100)
}

.theme-light.section-selector-2 div[class^='flex-cols-'] div[class^='col-'] {
    border-color: var(--slate-050)
}

.theme-light.section-selector-2 div[class^='flex-cols-'] div[class^='col-'] {
    border-color: var(--slate-100)
}

.section-selector-2 .flex-cols-3 .col-3 a.col-3-h3:focus,
.section-selector-2 .flex-cols-3 .col-3 a.col-3-h3:hover,
.section-selector-2 .flex-cols-3 .col-3 a.col-3-h3:active {
    color: var(--orange-600)
}

.section-selector-2 .flex-cols-3 .col-3 a.col-3-h3:focus,
.section-selector-2 .flex-cols-3 .col-3 a.col-3-h3:hover,
.section-selector-2 .flex-cols-3 .col-3 a.col-3-h3:active {
    color: var(--orange-500)
}

.section-selector-2 {
    background-color: var(--indigo-900)
}

.section-selector-2 .badge {
    background-color: var(--orange-500)
}

.section-selector-2 .badge {
    color: var(--black-000)
}

.section-selector-2 .flex-cols-3 .col-3 a.col-3-h3:link,
.section-selector-2 .flex-cols-3 .col-3 a.col-3-h3:visited {
    color: var(--white-000)
}